@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --step--2: clamp(0.91rem, calc(0.89rem + 0.10vw), 0.96rem);
    --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
    --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
    --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
    --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
    --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
    --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
    --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);

    --dark-1:#454545;
    --dark-2:#7A7D7D;
    --light-1:#E5ECF4;
    -colored-1:#A2D729;
  

  }
    



body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
background: #E5ECF4 ;
display: flex;
justify-content: flex-end;
scroll-behavior: smooth;

    

}


ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark-1);
}

p{
    color: var(--dark-1);
    margin: 0;
}
.section{
    cursor: pointer;
    display: flex;
    
    align-items: flex-end;
    
}

.container{
    position: relative;
    display: flex;
    width:min(98%,1850px);
    
   

  

}