@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --step--2: clamp(0.91rem, calc(0.89rem + 0.10vw), 0.96rem);
    --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
    --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
    --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
    --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
    --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
    --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
    --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);

    --dark-1:#454545;
    --dark-2:#7A7D7D;
    --light-1:#E5ECF4;
    --colored-1:rgb(182, 248, 128);
    --colored-2:rgb(203, 253, 162);
  
letter-spacing: .75px;

  }
    



body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
background: #E5ECF4 ;
display: flex;
justify-content: flex-end;

scroll-behavior: smooth;
    

}


input{
outline-style: none;
font-size: var(--step--1);
padding: 8px ;
color: var(--dark-1);
border: 1px solid var(--dark-1);
background: var(--light-1);
letter-spacing: 1.5px;
cursor: pointer;
}

textarea{
    outline-style: none;
    background: var(--light-1);
    font-size: var(--step--1);
padding: 8px ;
color: var(--dark-1);
letter-spacing: 1.5px;
border: 1px solid var(--dark-1);
margin-bottom: 1rem;
cursor: pointer;
}

textarea:focus, input:focus{
    outline: none;
}


@media only screen and (min-width: 1851px) {
    body{
        justify-content: center;
    }
}
h1,h2{
margin: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark-1);
}

p{
    color: var(--dark-1);
    margin: 0;
}
.section{
    cursor: pointer;
    display: flex;
    height: 100%;
    align-items: flex-end;
    
}

.container{
    position: relative;
    display: flex;
    width:min(98%,1850px);
    gap: 2em;
  
   

  

}

.btn{
    font-family: 'Montserrat Alternates', sans-serif;
    width: 140px;
    font-size: var(--step--2);
    padding: .5rem 1rem;
    border-radius: 0;
    outline: none;
    background: var(--colored-2);
  border: 1px dashed var(--dark-1);
  letter-spacing: .75px;
  cursor: pointer;
  font-weight: 500;
  color: var(--dark-1);
  transition: transform .3s;
  }

.btn:hover{
    background: var(--colored-1);
    font-weight: 600;
    
    transform: scale(1.1);
    box-shadow: 1px 8px 12px -4px rgba(69,69,69,0.75);
    -webkit-box-shadow: 1px 8px 12px -4px rgba(69,69,69,0.75);
    -moz-box-shadow: 1px 8px 12px -4px rgba(69,69,69,0.75);
}


   .border{
    position: relative;
   }
.border .border-bg{
position: absolute;
bottom: 0;
left: 0;
    opacity: 0;
    background-repeat: no-repeat;
    transition: all linear 0.3s;

}





/* splide */

/* .splide__slide{
    width: 400px ;
    height: 400px;
    background-color: hotpink;
    border: 1px solid white;

    transition: transform 0.2s ease-in-out;
   transform: rotate(-45deg) skewY(25deg);


}

.splide{
padding: 1em;
    width: 1000px;
    height:1000px;
    padding: 3em;

}
.splide__slide:hover{
transform: rotate(-43deg) skewY(26deg) translate(20px,-20px);
z-index: 1;
} */
